$main-background-color: #87d1df;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$font-stack: "Roboto", sans-serif;
$font-color: white;

body {
    font: 100% $font-stack;
    color: $font-color;
    background-color: $main-background-color;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}
